<div class="container-fluid">
    <div class="col s12 m7">
        <h2 class="header white-text">FEED YOUR SOUL</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="../../images/cuisine/2257_1600x800.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>At VERVE, we believe in feeding the soul.</p>
                    <br>
                    <p>Be treated to private invites to exclusive menu-tasting at exquisite restaurants.</p>
                </div>
            </div>
        </div>
    </div>
</div>