<div class="container-fluid">
    <div class="col s12 m7">
        <h2 class="header white-text">LIVE THE NIGHT.</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="../../images/lifestyle.nightlife/522311393.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>With "Invites-only" club access, enjoy your nightlife in style.</p>
                    <br>
                    <p>VVERVE is committed to bringing members together and what better way to do so than to enjoy the night.</p>
                </div>
            </div>
        </div>
    </div>
</div>