<div class="card-panel news hoverable">
    <!--<div class="divider"></div>-->
    <ul class="navbar-header">
        <li class="">
            <a class="news-nav" ui-sref=".fashion" onclick="changeActive(0)">Fashion</a>
            <a class="news-nav" ui-sref=".cuisine" onclick="changeActive(1)">Cuisine</a>
            <a class="news-nav" ui-sref=".health" onclick="changeActive(2)">Health</a>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div ui-view></div>
</div>

<script>
    var options = document.getElementsByClassName('news-nav');

    function changeActive(n) {

        for (var i = 0; i < options.length; i++){
            if (i == n){
                options[i].classList.add('sub-active');
            } else{
                options[i].classList.remove('sub-active');
            }
        }
    }
</script>